.THIS .paraStyle{
      font: bold 12px Montserrat,"Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height: 14px;
      height:75px;
      margin: 0px;
      display: table-cell;
      vertical-align: middle;
      padding: 10px;
      border: 1px solid #f00;
}